<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style type="text/css">
        body {
            font-family: 'Arial', sans-serif;

        }
        .mint-green-bg {
            background-color: rgba(28, 42, 72, 0.61);
        }

    </style>
</head>
<body style="background-color: rgba(101,96,96,0.35);">
<header class="d-flex justify-content-between align-items-center px-4 py-2" style="background-color: rgba(101,96,96,0.3);">
    <div class="d-flex align-items-center">
        <img src="https://students.finki.ukim.mk/finki-logo-9.png" alt="Logo" class="logo">

        <a href="/topics" style="color: black; margin-left: 10px;">
            <span class="fas fa-tasks"></span>
            Листа на теми</a>
    </div>
    <nav>
        <ul class="nav justify-content-end">
            <button type="button" class="btn btn-secondary" onclick="location.href='/login'">Login</button>
        </ul>
    </nav>
</header>

<div class="container body-content">
    <br>
    <h3>Постапка за пријавување, одбрана и оцена на избраната тема</h3>
    <br>
    <div class="row">
        <div class="col">
            <div class="card border-black mb-3">
                <div class="card-title mint-green-bg text-white p-2">
                    <h5>1. Пријава</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">This is a description for Card 1.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card border-black mb-3">
                <div class="card-title mint-green-bg text-white p-2">
                    <h5>2. Прифаќање на темата од студентот</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">This is a description for Card 1.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card border-black mb-3">
                <div class="card-title mint-green-bg text-white p-2">
                    <h5>1. Пријава</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">This is a description for Card 1.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>



